.contacts-svg {
  fill: rgba(117, 117, 117, 1);
  margin-right: 10px;

  transition: fill 250ms $bezier;

  @media screen and (min-width: 768px) and (max-width: 1169px) {
    margin-right: 8px;
  }

  &.mail-icon {
    width: 16px;
    height: 12px;

    @media screen and (min-width: 768px) and (max-width: 1169px) {
      width: 14px;
      height: 10px;
    }
  }

  &.tel-icon {
    width: 10px;
    height: 16px;

    @media screen and (min-width: 768px) and (max-width: 1169px) {
      width: 10px;
      height: 14px;
    }
  }

  .contacts-head:hover &,
  .contacts-head:focus & {
    fill: $blue-color;
  }
}
