.contacts-foot {
  color: $light-gray;

  &:hover,
  &:focus {
    color: $blue-color;
  }
}

.address-foot {
  color: $white-color;

  &:hover,
  &:focus {
    color: $blue-color;
  }
}

.footer-main {
  background-color: $bg-color;
  font-style: normal;
  padding-bottom: 60px;
}

.footer-main-container {
  @media screen and (max-width: 767px) {
    padding-left: 15px;
    padding-right: 15px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    margin-right: auto;
    margin-left: auto;
    // padding-left: 215px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1170px) {
    width: 1170px;
    flex-wrap: nowrap;
  }
}

.footer-container {
  text-align: center;
  padding-bottom: 60px;
  padding-top: 60px;

  @media screen and (min-width: 768px) {
    margin-right: 165px;
  }

  @media screen and (min-width: 1170px) {
    text-align: left;
    padding-bottom: 0;
    margin-right: 70px;
  }
}

.footer.list {
  text-align: center;
  padding-top: 20px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;

  transition: color 250ms $bezier;

  & .list-item:not(:last-child) {
    margin-bottom: 8px;
  }

  @media screen and (min-width: 1170px) {
    text-align: left;
  }
}

.title-footer {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  margin-bottom: 20px;
}

.footer-form-container {
  width: 100%;
  text-align: center;
  @media screen and (min-width: 1170px) {
    padding-top: 72px;
    text-align: left;
    width: initial;
  }
}

.footer-form {
  @media screen and (min-width: 1170px) {
    display: flex;
  }
}

.footer-input {
  padding: 0 0 0 16px;
  margin-bottom: 20px;

  width: 100%;
  max-width: 450px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.25;
  color: $white-color;

  transition: border 250ms $bezier;

  &:focus {
    border-color: $blue-color;
    outline: 0;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;

    display: flex;
    align-items: center;

    transition: color 250ms $bezier;
  }

  @media screen and (min-width: 1170px) {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.footer-form .button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 0;

  width: 200px;
  height: 50px;

  @media screen and (min-width: 1170px) {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 0;
    margin-left: 0;
  }
}

.footer-form-svg {
  margin-left: 10px;
  fill: $white-color;

  transition: fill 250ms $bezier;

  .footer-form .button:hover &,
  .footer-form .button:focus & {
    fill: $blue-color;
  }
}
