.header-logo {
  color: $primary-text;
}

.header.list,
.contacts-head {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;

  transition: color 250ms $bezier;
}

.contacts-head {
  color: $secondary-text;

  &:hover,
  &:focus {
    color: $blue-color;
  }
}

// .link.contacts-head {
//   display: flex;
//   align-items: center;
//   height: 16px;
// }

.header-container {
  position: relative;
  // padding-top: 24px;
  // padding-bottom: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container .list {
  // display: flex;
  // justify-content: space-between;

  & .list-item:not(:last-child) {
    margin-right: 50px;
  }
}

.header-container .logo {
  margin-right: 93px;
}

.mobile-menu {
  display: inline-flex;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;

  &__button {
    text-align: center;

    transition: fill 250ms $bezier;

    &:hover,
    &:focus {
      fill: $blue-color;
    }

    & .cross {
      display: none;
    }
  }
}

.hidden-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}
