.header-logo {
  color: $primary-text;
}

.header.list,
.contacts-head {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;

  transition: color 250ms $bezier;
}

.contacts-head {
  color: $secondary-text;

  &:hover,
  &:focus {
    color: $blue-color;
  }
}

.link.contacts-head {
  display: flex;
  align-items: center;
  height: 16px;
}

.header-container {
  padding-top: 24px;
  padding-bottom: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container .list {
  display: flex;
  justify-content: space-between;

  & .list-item:not(:last-child) {
    margin-right: 50px;
  }
}

.header-container .logo {
  margin-right: 93px;
}
