.project-name {
  color: $primary-text;
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
}

.project-type {
  color: $secondary-text;
  font-size: 16px;
  line-height: 1.875;
  font-weight: 400;
}

.project-img {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio.list {
  display: block;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 64px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.portfolio.list .project {
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    margin-left: 15px;
    margin-right: 15px;
    width: calc(100% / 2 - 30px);
  }
  @media screen and (min-width: 1170px) {
    width: calc(100% / 3 - 30px);
  }
}

.img-description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;

  color: $white-color;

  background-color: rgba(33, 150, 243, 0.9);

  display: flex;
  align-items: center;
  padding: 63px 24px;

  transform: translateY(100%);

  transition: transform 250ms $bezier;
}

.project-name {
  padding-left: 24px;
  padding-top: 20px;
  margin-bottom: 4px;
}

.project-type {
  padding-bottom: 20px;
  padding-left: 24px;
}
